@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9fafb;
  --foreground: #111827;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* Custom "Tool" shadow for that premium feel */
.tool-shadow {
  box-shadow: 8px 8px 0px 0px rgba(0,0,0,1);
}

.tool-shadow:active {
  box-shadow: 2px 2px 0px 0px rgba(0,0,0,1);
  transform: translate(2px, 2px);
}
